$font-primary = Arial, sans-serif
$font-secondary = Arial, sans-serif

$font-family-sans-serif = $font-primary

$font-size-base = 16px

$grid-gutter-width = 20px

$border-radius-base = 3px
$border-radius-large = 3px
$border-radius-small = 3px

$brand-primary = #FF0000
$brand-secondary = #FF9900

$screen-xs = 480px
$screen-sm = 720px
$screen-md = 992px
$screen-lg = 1140px

$to-xs = 'all and (max-width:' + ($screen-xs - 1px)  + ')'
$to-sm = 'all and (max-width:' + ($screen-sm - 1px)  + ')'
$to-md = 'all and (max-width:' + ($screen-md - 1px)  + ')'
$to-lg = 'all and (max-width:' + ($screen-lg - 1px)  + ')'

$from-xs = 'all and (min-width:' + $screen-xs  + ')'
$from-sm = 'all and (min-width:' + $screen-sm  + ')'
$from-md = 'all and (min-width:' + $screen-md  + ')'
$from-lg = 'all and (min-width:' + $screen-lg  + ')'

